In [3]:
# This script includes the following:
1. Importing Data
2. Checking OUTPUT
3. Merging df_prods and df_ords_combined using merge flag.

SyntaxError: invalid syntax (240636629.py, line 2)

In [5]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [6]:
path=r'C:\Users\Usha Bharati\Downloads\02-2024 Instacart Basket Analysis'

In [7]:
df_orders_products_combined=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [8]:
# Check output
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
df_ords_prods_combined=df_orders_products_combined.drop(columns=['_merge'])

In [10]:
df_ords_prods_combined.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered'],
      dtype='object')

In [11]:
# Shape of the orders_products_combined dataframe 

df_ords_prods_combined.shape

(32434489, 9)

In [12]:
# Importing products_checked dataframe
df_products_checked=pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'))

In [13]:
# Check output
df_products_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
df_products_checked.shape

(49672, 5)

In [20]:
# Merge df_products_checked and df_orders_products_combined using the merge flag.

df_ords_prods_merge= df_products_checked.merge(df_ords_prods_combined, on =['product_id'],indicator=True)

In [21]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [22]:
df_ords_prods_merge.shape

(32404859, 14)

In [23]:
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [24]:
# Exporting merged dataset as pickle file.

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))